.loading-container {
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100vh;
  background-color: rgb(71, 216, 71);
  padding: 0 20px;
  flex-wrap: wrap;
}

.footprint {
  width: 40px;
  height: 40px;
  background-color: #333;
  border-radius: 50%;
  margin: 30px;
  animation: 1.0s infinite;
}

.left {
  animation-name: left-animation;
}

.right {
  animation-name: right-animation;
}

.up {
  animation-name: up-animation;
}

.down {
  animation-name: down-animation;
}

@keyframes left-animation {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  50% {
    transform: translateX(-20px);
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes right-animation {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  50% {
    transform: translateX(20px);
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes up-animation {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(-20px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes down-animation {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(20px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.footprint:nth-child(1) {
  animation-delay: 0s;
}

.footprint:nth-child(2) {
  animation-delay: 0.2s;
}

.footprint:nth-child(3) {
  animation-delay: 0.4s;
}

.footprint:nth-child(4) {
  animation-delay: 0.6s;
}

.footprint:nth-child(5) {
  animation-delay: 0.8s;
}

.footprint:nth-child(6) {
  animation-delay: 1s;
}

.footprint:nth-child(7) {
  animation-delay: 1.2s;
}